.advanced-pie-legend {
  float: left;
  position: relative;
  top: 50%;
  transform: translate(0, -50%); }
  .advanced-pie-legend .total-value {
    font-size: 36px; }
  .advanced-pie-legend .total-label {
    font-size: 24px;
    margin-bottom: 19px; }
  .advanced-pie-legend .legend-items-container {
    width: 100%; }
    .advanced-pie-legend .legend-items-container .legend-items {
      white-space: nowrap; }
      .advanced-pie-legend .legend-items-container .legend-items .legend-item {
        position: relative;
        margin-right: 0;
        cursor: pointer;
        display: block;
        padding-left: 15px;
        margin-bottom: 6px; }
        .advanced-pie-legend .legend-items-container .legend-items .legend-item:focus {
          outline: none; }
        .advanced-pie-legend .legend-items-container .legend-items .legend-item:hover {
          color: #000;
          -webkit-transition: 0.2s;
          -moz-transition: 0.2s;
          transition: 0.2s; }
        .advanced-pie-legend .legend-items-container .legend-items .legend-item .item-value {
          font-size: 14px;
          margin-top: -6px;
          margin-left: 11px;
          color: #999999; }
        .advanced-pie-legend .legend-items-container .legend-items .legend-item .item-label {
          font-size: 14px;
          opacity: 0.7;
          margin-left: 11px;
          margin-top: -14px;
          color: #414141; }
        .advanced-pie-legend .legend-items-container .legend-items .legend-item .item-color {
          position: absolute;
          top: 9px;
          left: 0px;
          width: 15px;
          height: 15px;
          border-radius: 50%; }
